body {
    background-color: #e6ebe0;
    color: #333333;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: #ad4436;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
}

.top {
    width: 300px;
    height: 500px;
    border: 1px solid;
    }

.test {
    margin-bottom: -15px;
    font-size: 10px;

}

.player-info p{
    padding-top: 5px;
    font-size: 20px; 
}

#clear-button, #start, #submit-button {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ad4436;
    font-weight: bold;
}

.warning {
    position: relative;
    display: inline-block;
}

.warning .warningText {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: #911e1e;
    visibility: hidden;
    background-color: #d1a4a4;
    width: 100px;
    top: 12%;
    left: 90%;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #911e1e;
    box-shadow: 2px 2px 5px #000000;
}

.warning:hover .warningText {
    visibility: visible;
    opacity: 1;
}

#clear-button:hover, #start:hover {
    background-color: #f06f5d;
}

.scene {
    width: 300px;
    height: 500px;
    border: 1px solid;
}

.character-input {
    display: block;
    margin: 5px;
}

input {
    display: inline-block;
}

button {
    padding: 10px;
    margin: 10px;
}